body {
  background-color: #5e5c5e;
  font-family: "Varela Round";
}

#navbar {
  background-color: #232325;
  height: 60px;
  padding: 10px;
  margin: -8px;
  position: fixed;
  width: 100%;
}

#navbar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  padding-top: 0px;
  padding-right: 10px;
  margin-top: -15px;
}

#navbarlinks {
  padding-top: 20px;
  padding-left: 10px;
  word-spacing: 40px;
  right: 100px;
  position: fixed;
}

#navbarlinks a {
  color: #edefe9;
  text-decoration: none;
  font-size: 1em;
}

#navbarlinks a:hover {
  color: #74d14c;
}

#backdrop{
  background-color: #EDEFE9;
  
  width: 500px;
  text-align: center;
  display: grid;
  margin: auto;
  position: relative;
  top:20px;
  padding-top: 10px;
  grid-template-rows: 33%, 33%, 33%;
}

.backdrop_line{
  border-bottom: 3px solid #78968F;
  
}

